---
import ThemeSwitcher from './ThemeSwitcher.svelte';
const { title } = Astro.props;
---

<header
  class="sticky top-0 z-20 flex justify-between text-sm items-center bg-white font-bold px-4 h-20 dark:bg-elements-dark-blue dark:text-white text-text-very-dark-blue drop-shadow-md"
>
  <h1 class="lg:text-2xl lg:pb-1 lg:ml-[4.2rem] dark:text-white">{title}</h1>
  <ThemeSwitcher client:only />
</header>
