---
import ThemeSwitcher from './ThemeSwitcher.svelte';
const { title } = Astro.props;
---

<header class="flex justify-between bg-white font-extrabold px-4">
  <h1 class="">{title}</h1>
  <ThemeSwitcher />
</header>
